# Linear Algebra and Programming Skills
*Dr Jon Shiach, Department of Computing and Mathematics, Manchester Metropolitan University*

---
# Python Basics

## Learning outcomes
On successful completion of this pages readers will be able to:

- Use Jupyter Notebook to run Python commands;
- Perform basic arithmetic operations using Python commands;
- Import libraries into a Python program and call functions;
- Create variables of different types and change a variable type;
- Print formatted output.

[Python](https://www.python.org/) is a multipurpose programming language that is widely used for scientific computation and data analysis. Python is becomming more popular in the workplace as well as academia so it is a good idea to learn it to enhance your skillset. This is the first in a series of Jupyter notebooks which will introduce you to Python and by working through the interactive examples and exercises you will develop your programming skills.

---
## Jupyter notebooks
The guidance material that you are using now will to teach you how to program in Python using [**Jupyter notebooks**](https://jupyter.org/). These are interactive documents which allow you to edit and run Python code within the document without having to leave the document and use another software package. Jupyter notebook files have the file extension `.ipynb` and can be accessed and edited in a number of differents ways as explained below.

### Installing Python on your own machine using Anaconda

Python is an open source which means it is free to download and use. The easiest way to install Python onto your own machine is to install [Anaconda](https://www.anaconda.com/distribution/) which is a suite of scientific programming tools which is available for most operating systems and is free to download and use. Acaconda includes two programs which we can use to write Python programs: **Jupyter Notebook** and **Spyder**. These materials use Jupyter notebooks to teach Python but Spyder is also useful for writing longer programs.

To use these materials using Jupyter Notebook installed using Anaconda do the following 

> Note that Anaconda is already installed on PCs in the Faculty of Science and Engineering and on selected PCs in the library.

1. If you are using a machine on campus go to step 2 else go to https://www.anaconda.com/distribution/, download the appropriate version for your machine and install it following the onscreen prompts.
1. Locate and load **Anaconda Navigator**.
1. Click on the **Launch** button underneath **Jupyter Notebook**.
1. A web broswer window will open showing you the file structure of your machine. Navigate to the directory that contains the notebook file you wish to open and then click on the filename to open it.

### Google Colab

If you are unable to install Anaconda on the computer you are using you can open and run Jupyter notebook files through a web browser using [Google Colab](https://colab.research.google.com/). To use these materials using Google Colab do the following:

1. If you already have a Google account go to step 2 else go to [https://myaccount.google.com/](https://myaccount.google.com/) and click on **Create a Google account** and follow the onscreen instructions.
1. Go to [https://colab.research.google.com](https://colab.research.google.com);
1. Sign in with your Google account details;
1. Upload a Jupyter notebook by clicking in **File** and **Upload Notebook**.

---
## Examples and exercises

These materials have a number of interactive examples and exercises for you to try out. The examples are designed to demonstrate how the various Python commands work and the exercises give you an opportunity to put into practice what you have learned. 

### Using Jupyter notebooks

Jupyter notebooks consist of a number of **cells** which can either be a **text cell** like this one which contains text or a **code cell** which contains Python code than can be executed. For example, enter the following commands into the code cell below.

```Python
seconds_in_a_day = 24 * 60 * 60
seconds_in_a_day
```

To execute the code in the above cell, select it with a click and then use the keyboard shortcut `ctrl` and `enter` keys pressed at the same time (for a full list of the keyboard shortcut commands go [here](https://towardsdatascience.com/jypyter-notebook-shortcuts-bf0101a98330)) or click on the **Run** button. To edit the code, just click the on the cell and start editing.

For example, enter the following command in the code cell below and executre it.

```Python
seconds_in_a_week = 7 * seconds_in_a_day
seconds_in_a_week
```

Here we have computed the number of seconds in a day, stored it as a variable and returned the result. Variables that we have defined in one cell can be used in later code cells. Note that the code above uses the previously defined variable `seconds_in_a_day` so the code cell where this is defined needs to have been executed prior to this one (variables are explained in more detail [below](#Variables)).

---
## Basic arithmetic operations

We will begin with using Python to perform basic arithmetic operations since these form the fundamentals of computer programming (it is useful to think of your computer as a very powerful calculator). The arithmetic operators used to perform the basic operations are shown in the table below.

|          Operator          | Explanation        | Example | Python code &emsp; | Output
|:--|:--|:--|:--|:--|
|            $+$             | addition           | $2+3$ |   `2 + 3`   | `5` |
|            $-$             | subtraction         | $2-3$ |   `2 - 3`   | `-1` |
|          $\times$          | multiplication     | $2\times 3$ | `2 * 3`   | `6` |
|           $\div$           | division           | $2 \div 3$ |  `2 / 3`   | `0.6666...` |
|           $x^y$            | exponentiation     | $2^3$ |  `2 ** 3`   | `8` |
|        $\text{mod}$        | modulo (remainder) &emsp; | $2 \,\text{mod}\, 3$ &emsp; |  `2 % 3`   | `2` |
| $\lfloor x \div y \rfloor$ &emsp; | floor division     | $\lfloor 2 \div 3 \rfloor$ | `2 // 3` &emsp; | `0` |

#### Example 1

Use Python to calculate the following:

&emsp; (i) &emsp; $3 + 4 = 7$
```Python
3 + 4
```

&emsp; (ii) &emsp; $4 - 7 = -3$

```Python
4 - 7
```

&emsp; (iii) &emsp;  $5 \times 3 = 15$

```Python
5 * 3
```

&emsp; (iv) &emsp; $\dfrac{2}{9} = 0.2222\ldots$

```Python
2 / 9
```

&emsp; (v) &emsp; $2^5 = 32$

```Python
2 ** 5
```

&emsp; (vi) &emsp; $23 \operatorname{mod} 4 = 3$ &emsp; &emsp; ($x \operatorname{mod} y$ means the remainder when $x$ is divided by $y$)

```Python
23 % 4
```

&emsp; (vii) &emsp; $\left\lfloor \dfrac{11}{3} \right\rfloor = 3$ &emsp; &emsp; ($\lfloor x \rfloor$ means $x$ rounded down to the integer below)

```Python
11 // 3
```

---
### Order of precendence of operations
Python follows the standard rules for order of operations, i.e., BODMAS: Brackets > Orders (powers) > Division, Multiplication > Addition, Subtraction. Brackets should be used to override this where nececessary.

#### Example 2

The command below calculates the value of the expression $\dfrac{1}{2+3}$. Enter it into the code cell below and execute it.

```Python 
1 / (2 + 3)
```

Omitting the brackets from this command results in the command below. Enter this into the code cell below and execute it.

```Python
1 / 2 + 3
```

This has calculated the value of $\dfrac{1}{2}+3$.

---
## Exercise 1 - Basic arithmetic operations

1. Use Python commands to evaluate:

&emsp; &emsp; (a) &emsp; $2-(3+6)$;

&emsp; &emsp; (b) &emsp;  $2(5-8(3+6))$;

&emsp; &emsp; (c) &emsp;  $2(2-2(3-6+5(4-7)))$;

&emsp; &emsp; (d) &emsp;  $\dfrac{2(5-4(3+8)))}{3(4-(3-5))}$;

&emsp; &emsp; (e) &emsp; $\dfrac{2(4^5)}{81-5^2}$.

2. Use a Python command to calculate the remainder of 14151 divided by 571.

3. Use a Python command to calculate the number of times 1111 can be divided by 14.

---

### Shorthand notation for basic arithmetic operations

If we have an existing variable `x` which is equal to some value then we can use a shorthand for applying the basic arithmetic operations to `x` by writing the operator imediately before the `=` symbol followed by a number (or variable), e.g., 

```python
x += k
```

and similar for the other arithmetic operatiors shown in the table [above](#Basic-arithmetic-operations).

---
## Using libraries

Python is a very simple all purpose programming language designed to service the needs of a wide variety of users. As such it only has a small number of commands and functions built in, these known as **intrinsic functions**. The full list of intrinsic functions in Python can be found [here](https://docs.python.org/3/library/functions.html). Fortunately there is a wide variety of **libraries** which are a collection of functions that we can **import** into our programs so that we can make use of the functions that have been written to perform certain tasks. 

To import a library we use the following

```python
import name_of_library
```

This will import the library called `name_of_library`. We can now use a function from our imported library by prefixing the function name with `name_of_library.`, for example

```python
name_of_libary.name_of_function()
```

It is also possible to change the name that the library is known as in a program in the import statement which is useful in shortening the library name, for example

```python
import library_with_a_very_long_name as library

library.name_of_function()
```

---
### The math library

To calculate common mathematical functions such as square roots, logarithms, trigonometric functions etc., i.e., similar to the function buttons on a scientific calculator, we can import functions from the math library by executing the code cell below.

```python
import math
```

Once a library has been imported we do not need to do it again.

Some of the most common math functions are listed in the table below.

| Function            | Explanation  | Example | Python command| Output |
|:--|:--|:--|:--|:--|
| $\pi$               | constant $\pi$                         | $\pi$ | `math.pi` | `3.1415...` |
| $e$                 | constant $e$                           | $e$ | `math.e` | `2.7182` |
| $\sqrt{x}$          | square root of $x$                     | $\sqrt{9}$ | `math.sqrt(9)` | `3.0` |
| $\sin(x)$           | sine of $x$                      | $\sin(\pi)$ | `math.sin(math.pi)` | `1.2246e-16` (i.e., zero) |
| $\cos(x)$           | cosine of $x$                          | $\cos(0)$  | `math.cos(0)` | `-1.0` |
| $\tan(x)$           | tangent of $x$                         | $\tan(1)$  | `math.tan(1)` | `1.5574...` |
| $\sin^{-1}(x)$ &emsp;      | arcsin (or inverse $\sin$) of $x$ &emsp; | $\sin^{-1}(1)$ &emsp; | `math.asin(1)` | `1.5707...` |
| $e^x$               | exponential function of $x$            | $e^{1}$ | `math.exp(1)` | `2.7182...` |
| $\ln(x)$            | natural logarithm of $x$               | $\ln(2)$ | `math.log(2)` | `0.6931...` |
| $\log_{a}(x)$       | logarithm of $x$ to the base $a$       | $\log_2(4)$ | `math.log(4, 2)` | `2.0` |
| $x!$                | factorial of $x$                       | $6!$ | `math.factorial(6)` &emsp; | `720` |
| $\lfloor x \rfloor$ | round $x$ to the integer below  &emsp;        | $\lfloor 1.23 \rfloor$ | `math.floor(1.23)` | `1` |
| $\lceil x \rceil$   | round $x$ to the integer above         | $\lceil 1.23 \rceil$ | `math.ceil(1.23)` | `2` |

> Note:
> - Python assumes all angles are in radians.
> - The inverse functions for the other trigonometric ratios are calculated similarly.

#### Example 4

Using functions from the math library, evaluate the following:

&emsp; (i) &emsp; $\sqrt{9} = 3$

```Python
import math

math.sqrt(9)
```

&emsp; (ii) &emsp; $\cos\left( \dfrac{\pi}{4} \right) = \dfrac{\sqrt{2}}{2} \approx 0.7071$

```Python
math.cos(math.pi / 4)
```

&emsp; (iii) &emsp; $e^2 \approx 7.3891$

```Python
math.exp(2)
```

&emsp; (iv) &emsp; $4! = 24$

```Python
math.factorial(4)
```

---
## Exercise 2 - Using the math library

4. Use math library functions to evaluate:

&emsp; &emsp; (a) &emsp; $\sqrt{3^2 + 4^2}$ ;

&emsp; &emsp; (b) &emsp; $\cos(\pi)$;

&emsp;&emsp; (c) &emsp; $\sin^{-1}(1)$;

&emsp;&emsp; (d) &emsp; $\ln(e^2)$; &emsp;

&emsp;&emsp; (e) &emsp; $\log_{10}(1000)$.

---
## Variables

Variables are used to store information which can be retrieved elsewhere in a computer program. To define a variable in Python we use the equals sign `=`. For example

```python
a = value_of_a
```

You can also define multiple variables in one line using

```python
a, b, c = value_of_a, value_of_b, value_of_c
```

which does the same as

```python
a = value_of_a
b = value_of_b
c = value_of_c
```

Once a variable has been defined the information stored in it can be used in other commands in a program.

#### Example 5
The commands below define the 3 variables `x`, `y` and `z` and calculates their sum. Enter them into the code cell below and execute.

```Python
x = 1
y = 2.5
z = -3

x + y + z
```

The commands below perform the same calculates as above but demonstrate how multiple variables can be defined in the same line. Enter them into the code cell below and execute.

```Python
x, y, z = 1, 2.5, -3

x + y + z
```

---
### Variable names
A Python variable can have a short name (e.g., `x` and `y`) but sometimes it is advisable to use longer descriptive name so that your program is easier to understand (e.g., `distance`, `seconds_in_a_minute`). Variable names must adhere to the following rules:

* a variable name cannot start with a number and must start with a letter or the underscore character
* a variable name can only contain alpha-numeric characters and underscores (A - z, 0 - 9, and _ )
* variable names are case-sensitive (`age`, `Age` and `AGE` are three different variables)

#### Example 6
The command below attempts to define a variable that violates Python's variable name rules. Enter it into the command cell and execute it.

```Python
1st_variable = 2
```

Python has returned an error because the first character of this variable is a number. To overcome this we need to use a different variable name, edit the code cell above with the following command and execute it.

```Python
first_variable = 2
```

---
### Types of variables
Python uses the following types of variables:

| Type | Explanation | Example | Python command |
|:--|:--|:--|:--|
| integer numbers | wholes numbers including 0 and negative numbers | $-987$ | `-987` |
| floating point numbers | numbers expressed using an integer part and a fractional <br> part separated by a decimal point| $3.1416$ | `3.1415` |
| floating point exponential numbers | numbers expressed in standard form $a \times 10^{b}$ | $2 \times 10^4$ | `2e4` |
| complex numbers | numbers of the form $a + bi$ where $a$ and $b$ are a real numbers &emsp; <br> and $i=\sqrt{-1}$ is the imaginary number | $2 + 3i$ | `2 + 3j` |
| Boolean | values which are either True or False | True | `True` |
| string | sequences of letters, spaces and symbols | "hello world" | `"hello world"` |

> Note:
> - in Python the imaginary number is represented by `j`
> - single quotes can also be used for strings, e.g., `'hello world'`

When defining a variable, Python will automatically use the appropriate variable type depending on the value assigned.

#### Example 7

Define the following variables

&emsp; (i) &emsp; $a = 2$

```Python
a = 2
a
```

&emsp; (ii) &emsp; $b = 1.5$

```Python
b = 1.5
b
```

&emsp; (iii) &emsp; $c = 5000000000 = 5 \times 10^9$

```Python
c = 5e9
c
```

&emsp; (iv) &emsp; $d = 2 + 3i$

```Python
d = 2 + 3j
d
```

&emsp; (v) &emsp; $e = \text{True}$

```Python
e = True
e
```

&emsp; (vi) &emsp; $f = \text{"this is a string"}$

```Python
f = "this is a string"
f
```

---
### Determining the type of a variable
We can determine what type a variable is using the `type` command.

```python
type(variable_name)
```

#### Example 8

Determine the type of variable for each of the variables defined in example 6.

&emsp; (i) &emsp; `a = 2`
```Python
type(a)
```

&emsp; (ii) &emsp; `b = 1.5`

&emsp; (iii) &emsp; `c = 5e9`

&emsp; (iv) &emsp; `d = 2 + 3j`

&emsp; (v) &emsp; `e = True`

&emsp; (vi) &emsp; `f = "this is a string"`

---
### Converting variable types

We can convert some variables to a different type using the following commands.

| Conversion | Python command | Output |
|:--|:--|:--|
| floating point number to an integer | `int(1.2)` | `1` |
| integer number to a floating point number | `float(1)` | `1.0` |
| integer to a string | `str(2)` | `'2'` |

#### Example 9

Use Python commands to convert the following variables

&emsp; (i) &emsp; $2.5$ to an integer

```Python
int(2.5)
```

&emsp; (ii) &emsp; $3$ to a floating point number

```Python
float(3)
```

&emsp; (iii) &emsp; $123$ to a string

```Python
str(123)
```

---
## Exercise 3 - Using variables
5. Write a program that uses variables to convert a temperature in degrees Centigrade $C$ to degrees Fahrenheit $F$ using the formula
<br><br>
$$F = \frac{9}{5}C + 32.$$
<br>
What is the equivalent temperature in Fahrenheit of $37^\circ$C?

6. Write a program that calculates the length of the hypotenuse of a right-angled triangle given the lengths of the two other sides are 2 and 3.

7. Write a program that calculates an angle of a right-angled triangle in degrees given the lengths of the adjacent and opposite sides are 4 and 5.

---
## Formatting your code

It is good programming practice to format your code so that is can be easily read. Guidelines for formatting Python code can be found in the [PEP style guide for Python code](https://pep8.org/) and this section covers some of the basics.

### Spaces
In a Python program spaces are ignored, however it is common practice to use spaces either side of the arithmetic operators so that it is more readable. It is also advisable to seperate blocks of code with a blank line.

#### Example 10
The commands below perform the same operations. Enter them into the code cells below and execute them to check they return the same value.

```Python
1*2+3*4+5/6
```

```Python
1 * 2 + 3 * 4 + 5 / 6
```

---
### Comments
A **comment** in a program is text that is ignored by Python when the code is executed and are useful to helping people understand the program. Comments in Python can be used in two ways:

```Python
# this is a comment
```

Here any text on the same line to the right of `#` is ignored. These are useful for short comments. For longer comments that span multiple lines we can use `"""` to start and end a comment (single quotes can also be used).

```Python
"""this is a comment
that spans multiple
lines"""
```

#### Example 11
The program in the code cell below makes use of comments. Enter is into the code cell below and execute it to check that it runs. Note how the lines of the program are spaced out to improve the readability of the code. Blank lines are also ignored by Python and can be used to improve the readability of a program.

```Python
"""This program calculates the
sum of two numbers"""

x = 4 # first number
y = 7 # second number

# Calculate the sum of the two numbers
x + y
```

---
### Splitting lines of code
To split a line of code we use the `\` symbol. This is useful when a single line of code uses a lot of horizontal space.

#### Example 12
The program in the code cell below uses the `\` symbol to split one of the lines of code over two lines. Enter it into the codel cell below and execute it to check that it runs.

```Python
# Define the variables
x, y, z = 2, 3, 4

# The code below has been split over two lines
sum_xyz = x + y \
+ z

# Output the sum of x, y and z
sum_xyz
```

---
## Printing output
To output text or the value of a variable within a Python program we can use the `print()` command.
```Python
print("some text")
print(x)
```

#### Example 13

The commands in the code cells below show how the `print` command is used to print character strings and numbers. Enter then into the code cells below and execute them to see the results.

&emsp; (i) &emsp; the character string "hello world"
```Python
print("hello world")
```

&emsp; (ii) &emsp; the value of the variable $x=2$

```Python
x = 2
print(x)
```

&emsp; (iii) &emsp; the values of the two variables $b=3$ and $c = 4$

```Python
b, c = 3, 4
print(b, c)
```

---
### Printing text and numbers

Sometimes it is desirable to be able to output text alongside numbers. This can be done by writing an `f` before the string and then puting the variable name in curly brackets

```python
print(f"the value of x is {x} and the value of y is {y}")
```

The two sets of curly braces `{x}` and `{y}` will be replaced with the values of `x` and `y` respectively.

#### Example 14

The command in the code cell below uses a `print` statement to combine the printing of text and numbers. Enter them into the cell cell below and execute it to see the output (if Python returns an error make sure you have executed the first [two code cells](#Using-Jupyter-notebooks) in this notebook).

```Python
print(f"There are {seconds_in_a_day} seconds in a day and {seconds_in_a_week} seconds in a week.")
```

---
### Formatted output

Python will print floating point values using 16 decimal places by default. If we to control the number of decimal places and/or the number of character spaces used to print a value can use **formatted output**.

```
print(f"{x:a.bf}")
```

This will output the value of the floating point number `x` using `a` character spaces (including the decimal point) using `b` decimal places.

The `f` in the code above specifies the type of variable we are ouputted. The specifiers for the main variable types are given in the table below.

| Variable type         | Specifier &emsp; | Example | Python code |
|:--|:--:|:--|:--|
| integer number        | `d` | `␣␣2` | `print(f"{2:3d}")` |
| floating point number &emsp; | `f` | `␣␣3.142` | `print(f"{math.pi:7.3f}")` |
| exponential number    | `e` | `␣␣1.23e+03` | `print(f"{1.23:10.2e}")` |
| character string      | `s` | `␣␣hello world` &emsp; | `print(f"{"hello world":13s}")` |

> Note:
> - here `␣` has been used to denote a blank space
> - if the number of character spaces is set to zero, Python will use the smallest number of spaces required to fit the number or string, e.g., `print(f"{1.23456:0.2f}")` will return `1.23` using 4 character spaces

#### Example 15

The commands below show the use of formatted output. Enter them into the code cells below and execute them to see the result.

```Python
print(f"Then, shalt thou count to {3:10d}, no more, no less.")
```

Here the integer 3 was printed using 10 character spaces so there are 9 empty spaces to the left of the 3.

```Python
print(f"The value of pi to 4 decimal places is {math.pi:6.4f}.")
```

Here 6 character spaces were used to display $\pi$, 1 space for the `3`, 1 space for the decimal point and 4 spaces for the decimal places.

```Python
print(f"The speed of light is {2.9979e8:0.2e} m/s.")
```

Here the number $2.9979\times 10^{8}$ was printed to 2 decimal places using the minimum number of spaces required due to the 0 after the colon.

```Python
name = "Andrew Wiles"
year = 1995

print(f"Fermat's last theorem was proven by {name:20s} in {year}.")
```

Here the character string `"Andrew Wiles"` was printed using 20 character spaces. Note that the unused spaces appear after the string.

It often takes a bit of trial and error to get the right spacings in your program. Don't be afraid to experiment with your code.

---
### Printing multiple lines
It is possible to print multiple lines with a single print statement using the command `\n` which moves to the next line.

#### Example 16
The command below uses a single `print` statement to print text over multiple lines. Enter it into the code cell below and execute it to see the result.

```Python
print("This text \nis printed\n\non multiple lines \n\n\nusing a single print command.")
```

---
### Suppressing the carriage return
By default Python moves to the next line on completion of a print command. To suppress this we can use the following

```python
print("some text", end="")
```

#### Example 17
The commands in the code cell below shows how the use of `end=""` suppresses the carriage return. Enter them into the code cell below and execute it to see the result.

```Python
print("This text ", end="")
print("is printed on the ", end="")
print("same line using multiple print statements")
```

---
### Printing long lines of text
The `\` command can come in useful to split up a `print` comand when you are printing long lines of text.

#### Example 18
The command below shows have we can use the `\` symbol to print long lines of text using a single `print` command. Enter it into the code cell below execute it to see the result.


```Python
print("some text, " \
      "some more text in the same print command.")
```

---
## Exercise 4 - Printing output

8. Output the value of $e$ to 20 decimal places.

9. Write a program that uses the formula below to calculate the monthly repayments and total value of a mortgage of £100,000 taken out over 20 years at a fixed annual interest rate of 5%.
<br><br>
$$C = \frac{rP}{1-(1+r)^{-n}}$$
<br>
where $C$ is the monthly repayment amount, $r$ is the monthly interest rate, $P$ is the amount borrowed, $n$ is the number of monthly repayments.
<br><br>
Use print commands to output the loan amount, the duration of the mortgage, the annual interest rate, the monthly repayments and total value of the mortgage.

10. Write a Python program that calculates the number of years, weeks, days and minutes that are are equivalent to 1 million seconds and 1 billion seconds. Output the answer in a single meaningful sentence.
<br><br>
Hint: The `x // y` and `x % y` commands may come in useful here.

11. Use suitable `print()` and math library commands to produce the following table where each value is printed using 8 character spaces and 4 decimal places.

```
    x    |  sqrt(x) |  exp(x)  |   ln(x)  |  cos(x)
------------------------------------------------------
  1.0000 |   1.0000 |   2.7183 |   0.0000 |   0.5403
  2.0000 |   1.4142 |   7.3891 |   0.6931 |  -0.4161
  5.0000 |   2.2361 | 148.4132 |   1.6094 |   0.2837
```